 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@300&family=Ubuntu&display=swap');
body{
    height: 90vh;
}

.container{
    background-color: #5438a6;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
     font-weight: 700;
      font-size: 5rem;
}

#logo {
    height: 50px;
    margin-right: 10px;
}

h1 {
    
        font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white; /* cor branca */
    margin: 0;
}

.formSt{
    height: 450px !important;
    margin-top: 3rem;
    width: 500px !important;
    background-color: white;
    margin-left: auto;
    margin-right: auto; 
    /*border: 2px solid purple !important;
    */
}
.main {
  border: groove gray;
  
  padding: 1px 6rem 0 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card{
    margin: 0px 30px;
}

 .input{
    color:#5438a6;
      font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

    .inputs{
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 3.8rem;

    }
    
    h3{
           font-family: Arial, sans-serif, bold;
        margin-left: 3.8rem;
        color: black;
    }
    
    .inStyle {
        width: 25rem;
        box-shadow: none !important;
        border-radius: 10px;
        border-width: 1px;
       border:2px solid gray !important;
        
    }
    
    .input label{
    color:black;
    text-align: left;
    margin: 5px 10px;
}

    .conteudo{
        margin-top: 2rem;
        text-align: center;
         
    }
    
    .botao1{
        margin: 0 0 2rem 4rem;

 
 
     }
    
    .btnS{
        margin-right: 2rem !important;
    }
    
   .home {
     margin-top: 150px;
     margin-right:750px;
     margin-bottom:150px;
     margin-left:750px;
 
    background-color: white; /* cor roxa */
    color: black; /* cor branca */
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;

    
}
.buton{
     margin-top: 150px;
}